<a name="home"></a>
	<div class="intro-section">
		<div class="tint-overlay-1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 intro-message">
						<h1>Anirudh Subramanian</h1>
						<h3>Beauty in form and function.</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-buttons">
							<li>
								<a href="https://www.linkedin.com/in/rudysubramanian" target="_blank" class="btn btn-default"><i class="fa fa-linkedin"></i><span> Linkedin</span></a>
							</li>
							<li>
								<a href="https://bitbucket.org/manurudh" target="_blank" class="btn btn-default"><i class="fa fa-bitbucket"></i><span> BitBucket</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

<a name="about"></a>
	<div class="about-section">
		
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 about-message">
						<h1>About</h1>
						<p>I am a Duke grad (Pratt '11, Fuqua '12), experienced finance/heathcare professional, and aspiring web engineer. I love building clean, beautiful solutions to real-world challenges. Some of my passions include hiking, scuba diving, world travel, basketball, and playing the violin.</p>

						<p>My current technological competencies are:
							<ul>
								<li>Ruby and Ruby on Rails</li>
								<li>SQL</li>
								<li>HTML</li>
								<li>CSS</li>
								<li>Javascript</li>
							</ul>
						</p>
					</div>
					
				</div>
			</div>
		
	</div>

<a name="projects"></a>
	<div class="projects-section">
	
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 projects-message">
						<h1>Current Projects</h1>
					</div>
				</div>

				<div class="row projects">
					<div class="col-md-4 project-item">
						<a href="https://hidden-inlet-4787.herokuapp.com" target="_blank" data-toggle="modal">
							<div class="project-hover">
                <div class="project-hover-content">
                    <i class="fa fa-cogs fa-3x"></i>
                </div>
              </div>		
							<img src="/rss.png" class="img-responsive image" alt="rss aggregator">
							
						</a>
						<div class="caption">
							<p>A simple RSS aggregator built for multiple users, with the ability to save articles for future reading. Implemented with sinatra and deployed to Heroku.</p>
						</div>
					</div>
					<div class="col-md-4 project-item">
						<a href="https://bitbucket.org/manurudh/project_euler" target="_blank" data-toggle="modal">
							<div class="project-hover">
                <div class="project-hover-content">
                    <i class="fa fa-cogs fa-3x"></i>
                </div>
              </div>	
							<img src="/euler.png" class="img-responsive image" alt="project euler">
						</a>
						<div class="caption">
							<p>Ruby solutions to selected project Euler challenges.</p>
						</div>
					</div>
					<div class="col-md-4 project-item">
						<a href="https://bitbucket.org/manurudh/friendfit" target="_blank" data-toggle="modal">
							<div class="project-hover">
                <div class="project-hover-content">
                    <i class="fa fa-cogs fa-3x"></i>
                </div>
              </div>	
							<img src="/friendfit.png" class="img-responsive image" alt="friendfit">
						</a>
						<div class="caption">
							<p>A Rails app to find a workout buddy, anytime and anywhere. Currently a work in progress.</p>
						</div>
					</div>
				</div>

			
		</div>
	</div>


<a name="contact"></a>
	<div class="contact-section">
		<div class="tint-overlay-1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 contact-message">
						<h1>Contact</h1>
						<p>You can reach me at subramanian.rudy@gmail.com
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
