.navbar .navbar-inverse .navbar-fixed-top {
	background: rgba(0, 0, 0, 0.4);
}

h1 {
	font-size: 48px;
    font-variant: small-caps;
}

.intro-section {
    height: 800px;  
    padding-top: 0px; 
    padding-bottom: 0px;
    text-align: center;
    background: url('http://freenaturestock.s3.amazonaws.com/327.jpg') no-repeat center fixed;
    background-size: cover;
}

.tint-overlay-1 {
  background: rgba(0,0,0, 0.4);
  height: 800px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}	

.about-section {
    min-height: 800px;
    max-height: relative;   
    padding-top: 0px; 
    padding-bottom: 0px;
    text-align: left;
    background: url('/scuba.png') no-repeat center fixed;
    background-size: cover;
}

.about-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.about-message li, p{
    	font-size: 16px;
}

.projects-section {
    min-height: 800px;
    max-height: relative; 
    padding-top: 0px; 
    padding-bottom: 0px;
    text-align: left;
    background: url('http://freenaturestock.s3.amazonaws.com/320.jpg') no-repeat center fixed;
    background-size: cover;
}

.projects-section .projects .project-item {
    max-width: 400px;
    min-width: 400px;
}

.projects-section .projects .project-item .image {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.projects-section .projects .project-item .caption {
     padding: 10px;   
     color: white;
}

.projects-section .projects .project-item .project-hover {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 93%;
  height: 235px;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s,
}

.projects-section .projects .project-item .project-hover:hover {
  opacity: .7;
}

.projects-section .projects .project-item .project-hover .project-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff;
}

.projects-section .projects .project-item .project-hover .project-hover-content i{
  margin-top: -15px;
}

.projects-message {
    padding-top: 50px;
    color: white;
}

.project-item {
    padding-top: 20px;
}

.project-desc {
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 20px;
    color: white;
}

.contact-section {
    height: 800px;  
    padding-top: 0px; 
    padding-bottom: 0px;
    text-align: left;
    background: url('https://images.unsplash.com/photo-1439390916221-371302a6218d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7b57a605eff03f165024f8a405e6b870') no-repeat center fixed;
    background-size: cover;
}

.contact-message {
    padding-top: 50px;
    color: white;
}





